<html>
<body>
	<h1><%= title %></h1>
	<table>
		<form method="<%= httpVerb %>" action="<%=  %>">
			<tr><td>id:</td><td><input type="text" name="id"></td></tr>
			<tr><td>Title:</td><td><input type="text" name="prodTitle"></td></tr>
			<tr><td>Description:</td><td><input type="text" name="prodDesc"></td></tr>
			<tr><td>Alcohol %:</td><td><input type="text" name="prodPct"></td></tr>
			<tr><td>Volume:</td><td><input type="text" name="prodVol"></td></tr>
			<tr><td>Price:</td><td><input type="text" name="prodPrice"></td></tr>
			<tr><td></td><td><input type="submit" name="submit" value="<%= submitTxt %>"></td></tr>
		</form>
	</table>
</body>
</html>