<!DOCTYPE html>
<html ng-app="Main">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>zeTitle</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container red">
		<h1>index.js</h1>

		
		<h1 class="red"><%= title %></h1>

		<a href="#">Create</a>
		<a href="/products">Read</a>
		<a href="#">Update</a>
		<a href="#">Delete</a>


		<table>
			<form method="DELETE" action="/dumpParams">
				<tr><td>id:</td><td><input type="text" name="id"></td></tr>
				<tr><td>Username:</td><td><input type="text" name="user"></td></tr>
				<tr><td>Password:</td><td><input type="password" name="pass"></td></tr>
				<tr><td></td><td><input type="submit" name="submit" value="Login"></td></tr>
			</form>
		</table>

	</div>
	
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-route/angular-route.min.js"></script>
	<script src="../app.module.js"></script>
	<script src="../products/products.service.js"></script>
	<script src="../products/products.controller.js"></script>
	<script src="../products/product.controller.js"></script>
</body>
</html>